---
 const {posts}= Astro.props 
//  https://healthandwealthblogs.netlify.app
 ---

<section class="mt-24 mx-auto px-4 max-w-screen-xl md:px-8 container">
	<div class="max-w-lg">
		<h1 class="text-3xl lg:text-5xl text-gray-800 font-semibold highlight w-fit px-4 py2">
			Blogs
		</h1>
		<p class="mt-5 text-gray-500 bra animate-fade max-w-[15rem] md:max-w-md lg:max-w-xl coontainer mx-auto text-sm md:text-base">
			Blogs that are loved by the community. Updated every hour.
			The powerful gravity waves resulting from the impact of the planets, were finally resolved in 2015.
		</p>
	</div>

  <main class=" bg-white">
    <section class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
        <div class="grid max-w-md grid-cols-1 mx-auto mt-12 lg:max-w-full lg:mt-16 lg:grid-cols-3 gap-x-16 gap-y-2 ">
          {
            posts.map((item,i)=>(            
              <article class="mb-2 animate-fade-up" style=`animation-delay: ${0.5*i}s;`>
                  <a href={`${item.slug}`} class="block aspect-w-4 aspect-h-3">
                      <img class="object-cover w-full h-72 rounded-lg" src={item.data.image} alt={item.data.title} />
                  </a>
                  <span class="sr-only inline-flex px-4 py-2 text-xs font-semibold tracking-widest uppercase rounded-full text-rose-500 bg-rose-100 mt-9"> Technology </span>
                  <p class="mt-6 text-xl font-semibold">
                      <a href={`${item.slug}`} class="text-black hover:text-teal-500 hover:underline">{item.data.title}</a>
                  </p>
                  <p class="mt-4 text-gray-600 line-clamp-3">{item.data.description}</p>
                  <span class="block text-sm font-bold tracking-widest text-gray-500 uppercase"> Sohrab Khan. {item.data.date}</span>
                  <div class="h-0 mt-6 mb-4 border-t-2 border-gray-200 border-dashed"></div>
              </article>
            ))
          }
        </div>
    </section>
</main>
</section>
<script>
	 import { annotate } from "https://unpkg.com/rough-notation?module";
  const e = document.querySelector(".highlight");
  const annotation2 = annotate(e, {
    animationDelay: 1000,
    type: "highlight",
    color: "#FFF176",
    padding: "50",
    animationDuration: 2000,
  });
  annotation2.show();
  const ev = document.querySelector(".bra");
  const annotation1 = annotate(ev, { type: 'bracket', color: 'red', padding: [2, 10], brackets: ['left', 'right'], strokeWidth: 3,  })
  annotation1.show();
</script>