---
 const {posts}= Astro.props
 console.log("🚀 ~ file: blogcard.astro:3 ~ posts:", posts)
 
 ---

<section class="mt-24 mx-auto px-4 max-w-screen-xl md:px-8 container">
	<div class="max-w-lg">
		<h1 class="text-3xl text-gray-800 font-semibold highlight w-fit px-4 py2">
			Blog
		</h1>
		<p class="mt-5 text-gray-500 bra animate-fade max-w-sm md:max-w-none coontainer mx-auto">
			Blogs that are loved by the community. Updated every hour.
			The powerful gravity waves resulting from the impact of the planets, were finally resolved in 2015
		</p>
	</div>
    <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
		{
			posts.map((item) => (
            <article class="lg:flex animate-fade animate-delay-300 ">
                    <img class="object-cover w-full h-56 rounded-lg lg:w-64" src={item.data.image} alt="">
    
                    <div class="flex flex-col justify-between py-6 lg:mx-6">
                        <a href={`blogs/${item.slug}`} class="text-xl font-semibold text-gray-800 hover:underline dark:text-white line-clamp-2 md:line-clamp-6">
                        {item.data.title}
                        </a>
                        <p class="text-gray-500 line-clamp-3">{item.data.description}</p>
                        <span class="text-sm text-gray-500 dark:text-gray-300">On: {item.data.date}</span>
                    </div>
                </article>
			))
		}
	</div>
</section>
<script>
	 import { annotate } from "https://unpkg.com/rough-notation?module";
  const e = document.querySelector(".highlight");
  const annotation2 = annotate(e, {
    animationDelay: 1000,
    type: "highlight",
    color: "#FFF176",
    padding: "50",
    animationDuration: 2000,
  });
  annotation2.show();
  const ev = document.querySelector(".bra");
  const annotation1 = annotate(ev, { type: 'bracket', color: 'red', padding: [2, 10], brackets: ['left', 'right'], strokeWidth: 3,  })
  annotation1.show();
</script>